html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    transition: all 0.3s ease-in-out;
}

.deck .card.open {
    transform: rotateY(0deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

/*
 *
 *Animation of popping
 */

@keyframes popping{
    from {
        transform: scale(1.4,1.4);
    }
    to{
        transform: scale(1,1);
    }
}

/*
 *Animation for shaking
 */

 @keyframes shaking{
    0%{
        transform: skewX(0deg);
    }

    25%{
        transform: skewX(25deg);
    }

    50%{
        transform: skewX(-25deg);
    }

    75%{
        transform: skewX(10deg);
    }

    100%{
        transform: skewX(0deg);
    }
 }

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: popping;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
}

.deck .card.shake{
    background-color: rgba(220,0,0,0.6);
    animation-name: shaking;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 800px;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

.modal{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    background-color: rgba(180,100,90,1);
    z-index: 2;
    border-radius: 20px;
    visibility: hidden;
}

.line{
    width: 200px;
    height: 5px;
    background-color: rgba(0,0,0,1);
}

.tick{
    margin-top: 10px;
}

/*
 * Animation for tick
 */
 @keyframes rotate{
    from{
        transform: rotateY(270deg);
    }
    to{
        transform: rotateY(0deg);
    }
 }

.tick.rotate{
    transition: all 0.6s ease-in-out;
    animation-name: rotate;
    animation-duration: 0.6s;

}

.total-moves{
    margin-top: 10px;
    margin-left: 20px;
}

.play-again{
    transform: translateY(-12px);
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-size: 15px;
    background-color:  #5d6d7e ;
    color:  #d0d3d4 ;
    transition: all 0.5s ease-in-out;
}

.play-again:hover{
    background-color:  #000;
    color: white;
}

.timer-container{
    margin-left: 17px;
    display: inline-block;
}
